<template>
    <div>
      <h3>my eGFR: {{ this.getFirstPatient[0].egfr }}</h3>
      <table>
        <thead>
          <tr>
            <th>Stage</th>
            <th>Description</th>
            <th>eGFR</th>
            <th>Kidney Function</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>1</td>
            <td style="text-align: left">Possible kidney damage with <span>normal</span> kidney function</td>
            <td>90 or above</td>
            <td><img src="../../assets/kidney1.png" alt="kidney1"></td>
          </tr>
          <tr >
            <td>2</td>
            <td style="text-align: left">Kidney damage with <span>mild loss of</span> kidney function</td>
            <td>60 - 89</td>
            <td><img src="../../assets/kidney2.png" alt="kidney2"></td>
          </tr>
          <tr >
            <td>3a</td>
            <td style="text-align: left"><span>Mild to moderate</span> loss of kidney function</td>
            <td>45 - 59</td>
            <td><img src="../../assets/kidney3a.png" alt="kidney3a"></td>
          </tr>
          <tr >
            <td>3b</td>
            <td style="text-align: left"><span>Moderate to severe</span> loss of kidney function</td>
            <td>30 - 44</td>
            <td><img src="../../assets/kidney3b.png" alt="kidney3b"></td>
          </tr>
          <tr >
            <td>4</td>
            <td style="text-align: left"><span>Severe</span> loss of kidney function</td>
            <td>15 - 29</td>
            <td><img src="../../assets/kidney4.png" alt="kidney4"></td>
          </tr>
          <tr >
            <td>5</td>
            <td style="text-align: left">Kidney <span>failure</span></td>
            <td>Less than 15</td>
            <td><img src="../../assets/kidney5.png" alt="kidney5"></td>
          </tr>
        </tbody>
      </table>
    </div>
</template>
  
  <script>
  export default {
    name: 'KidneyFunctionalityTable',
    props: {
      patients: {
        type: Array,
        default: () => [],
      },
    },
    computed: {
      getFirstPatient() {
        const result = this.patients.filter((patient) => {
          return patient.id === 1
        });
        return result;
      },
    },
  };
  </script>
  
  <style>
  h3 {
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  span {
    font-weight: 900;
  }
  img {
    width: 30px;
    height: 30px;
  }
  </style>
  