<template>
    <div class="main-wrapper">
        <div class="main-container">
            <div class="accept-text">
                <p>
                    In case of accepting this offer
                </p>
            </div>
            <div class="other-text">
                <p> Estimated graft survival is <span>{{ offerData.graft_survival.months }} months</span></p>
                <p>With {{ offerData.graft_survival.confidence_rate }}% confidence interval of <span>{{ offerData.graft_survival.confidence_interval }} months</span></p>
            </div>
        </div>
        <div class="main-container">
            <div class="decline-text">
                <p>
                    In case of accepting this offer
                </p>
            </div>
            <div class="other-text">
                <p> Estimated graft survival is <span>{{ offerData.next_offer.months }} months</span></p>
                <p>With an average graft survival of <span>{{ offerData.next_offer.estimated_graft_survival }} months</span></p>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        name: 'OfferStatistics',
        props: {
            offerData: {
                type: Object,
                default: () => {},
            },
        },
    };
</script>

<style scoped>

.main-wrapper {
    display: flex;
    gap: 2rem;
}

.main-container {
    width: 100%;
    text-align: left;
}

.accept-text {
    background-color: #49ad64;
    padding: 1px 0px 1px 10px;
    color: white;
}

.decline-text {
    background-color: #ff1c6b;
    padding: 1px 0px 1px 10px;
    color: white;
}

.other-text {
    padding: 1px 0px 1px 10px;
    background-color: #f2f2f2;
}
</style>