<template>
      <div class="offer-container">
        <div v-for="offer in getMatchedOrgans" :key="offer.patient_id" class="card" @click="handleClick(offer)">
          <div class="card-image-container">
              <img class="card-image" src="../../assets/offered_organ.svg" alt="offered_organ" />
          </div>
          <div class="card-body">
              <p class="card-text">Offer {{ offer.offerNo }}</p>
              <p class="card-text">{{ offer.serial_number }}</p>
          </div>
        </div>
      </div>
  </template>

  <script>

  export default {
    name: 'OfferedOrgansCard',
    props: {
      offers: {
        type: Array,
        default: () => [],
      },
    },
    methods: {
      handleClick (value) {
        this.$emit('click', value);
      }
    },
    computed: {
      getFirstOffer() {
        const result = this.offers.filter((offer) => {
          return offer.patient_id === 1
        });
        return result;
      },
      getMatchedOrgans() {
        const result = this.getFirstOffer.map((offer) => {
          return offer.matched_organs
        });
        return result[0];
      },
    },
  };
  </script>
  
  <style scoped>
  button {
    background-color: white;
    border: 0;
  }
  .offer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
  }
  .card {
    width: 100%;
    overflow: hidden;
    border: 3px solid #f2f2f2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;

  }
  .card-image-container {
    border-radius: 25px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
  }
  
  .card-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  p {
    font-size: 20px;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .card-text {
    margin-bottom: 0;
  }
  </style>
  