<template>
    <div>
        <DoctorSearchComponent />
        <div class="table-section">
            <table>
                <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Consent Status</th>
                    <th>Latest Update Date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users" :key="user.id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.constentDate }}</td>
                    <td>{{ user.latestUpdate }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <img src="../../assets/chart2.png" alt="chart2" >
    </div>
</template>
  
<script>

    import DoctorSearchComponent from '../DoctorSearchComponent.vue';
  
    export default {
        components: {
            DoctorSearchComponent
        },
        data() {
            return {
                users: [
                {
                    id: 586214,
                    age: 56,
                    gender: 'Female',
                    constentDate: 'Provided',
                    latestUpdate: '2023-02-20  14:23',
                },
                ],
            };
        },
    }

</script>

<style scoped>
.table-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    height: auto;
}
</style>
  