<template>
    <div>
        <HeaderComponent />
        <div class="general-container">
            <DoctorSideBar/>
            <div class="content">
                <MainModal title="Potential Candidates">
                    <DoctorGeneralContent />
                </MainModal>
            </div>  
        </div>
    </div>
</template>
  
<script>
    import DoctorSideBar from "../components/DoctorSideBar.vue";
    import MainModal from "@/components/MainModal.vue";
    import HeaderComponent from "../components/HeaderComponent.vue"
    import DoctorGeneralContent from "../components/doctorGeneral/DoctorGeneralContent.vue"

    export default {
        name: 'DoctorGeneralView',
        components: {
            DoctorSideBar,
            MainModal,
            HeaderComponent,
            DoctorGeneralContent
        } 
    };
</script>

<style scoped>
.general-container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    display: flex;
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    background-color: #f2f2f2;
}
</style>