<template>
    <div>
        <HeaderComponent />
        <div class="general-container">
            <DoctorSideBar/>
            <div class="content">
                <MainModal title="Potential Candidates / Health Data Overview">
                    <DoctorHealthDataOverview :patient="getPatient" :patientId="patientId"/>
                </MainModal>
            </div>  
        </div>
    </div>
</template>
  
<script>
    import DoctorSideBar from "../components/DoctorSideBar.vue";
    import MainModal from "@/components/MainModal.vue";
    import HeaderComponent from "../components/HeaderComponent.vue"
    import DoctorHealthDataOverview from "@/components/doctorHealthData/DoctorHealthDataOverview.vue";
    import patients from "../assets/patients.json"
    import offers from "../assets/offers.json"

    export default {
        name: 'DoctorHealthView',
        components: {
            DoctorSideBar,
            MainModal,
            HeaderComponent,
            DoctorHealthDataOverview,
        },
        data () {
            return {
                patients: patients,
                offers: offers,
                patientId: this.$route.params.id,
            }
        }, 
        computed: {
            getPatient() {
                
                const result = this.patients.filter((patient) => {
                    
                    return patient.id === Number(this.patientId);
                });
                return result[0];
            }
        },
    };
</script>

<style scoped>
.general-container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    display: flex;
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    background-color: #f2f2f2;
}
</style>