<template>
    <div>
        <HeaderComponent />
        <div class="general-container">
            <DoctorSideBar/>
            <div class="content">
                <MainModal title="WLS Status Prediction - Probability Over Time">
                    <DoctorStatusPrediction /> 
                </MainModal>
            </div>  
        </div>
    </div>
</template>
  
<script>
    import DoctorSideBar from "../components/DoctorSideBar.vue";
    import MainModal from "@/components/MainModal.vue";
    import HeaderComponent from "../components/HeaderComponent.vue"
    import DoctorStatusPrediction from "../components/doctorStatusPrediction/DoctorStatusPrediction.vue"

    export default {
        name: 'DoctorStatusPredictionView',
        components: {
    DoctorSideBar,
    MainModal,
    HeaderComponent,
    DoctorStatusPrediction
} 
    };
</script>

<style scoped>
.general-container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    display: flex;
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    background-color: #f2f2f2;
}
</style>