<template>
    <div>
        <HeaderComponent />
        <div class="general-container">
            <SideBar/>
            <div class="content">
                <MainModal title="My Kidney Functionality">
                    <KidneyFunctionalityTable :patients="patients"/>
                </MainModal>
            </div>
        </div>
    </div>
</template>
  
<script>
    import SideBar from "../components/SideBar.vue";
    import KidneyFunctionalityTable from "@/components/kidneyFunctionality/KidneyFunctionalityTable.vue";
    import MainModal from "@/components/MainModal.vue";
    import HeaderComponent from "../components/HeaderComponent.vue"
    import patients from "../assets/patients.json"

    export default {
        name: 'KidneyFunctionalityView',
            components: {
            SideBar,
            KidneyFunctionalityTable,
            MainModal,
            HeaderComponent
        } ,
        data(){
            return{
                patients: patients
            }
        },
    };
</script>

<style scoped>
.general-container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    display: flex;
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    background-color: #f2f2f2;
}
</style>