<template>
  <div class="login-page">
    <img src="../assets/OrgannectLogo.png" alt="Orthobiomed logo" class="logo">
    <h2>Welcome to Orthobiomed</h2>
    <p>Please log in to continue to the Orthobiomed app</p>
    <form class="login-form" @submit="login">
      <label>E-mail</label>
      <input type="email" id="email" v-model="email" required>
      <label>Password</label>
      <input type="password" id="password" v-model="password" required>
      <button type="submit">Continue</button>
    </form >
    <p>Don't have an account? <a href="#">Sign up</a></p>
    <hr>
    <div class="social-login">
        <button> <img src="../assets/google-logo.png" alt="google"> Continue with Google</button>
        <button ><img src="../assets/Microsoft_logo.png" alt="microsoft">Continue with Microsoft account</button>      
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoginView',
  data() {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login(e) {
      e.preventDefault();
      if(this.email === 'doctor@doctor') {
        this.$router.push('/doctorGeneral');
      } else {
        this.$router.push('/general');
      }
    },
  }
}
</script>

<style>
.logo {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  
}
.login-page {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  width: 350px;
  height: 600px;
  background-color: #f2f2f2;

}
.login-form {
  display: inline-block;
  text-align: left;
  width: 80%;
}
input {
  display: block;
  height: 30px;
  width: 280px;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid black;
}
button {
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}
a {
  color: #007bff;
  text-decoration: none;
}
.social-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.social-login button {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}
</style>
