<template>
    <div>
        <HeaderComponent />
            <div class="general-container">
                <SideBar/>
                <div class="content">
                    <MainModal title="Offered Organ">
                        <h3>List of offered organs</h3>
                        <div class="organ-container">
                            <OfferedOrgansCard :offers="offers" @click="goToOfferScreen"/>
                        </div>
                    </MainModal>
                </div>
            </div>
    </div>
</template>
  
<script>
    import MainModal from "@/components/MainModal.vue";
    import SideBar from "../components/SideBar.vue";
    import OfferedOrgansCard from "@/components/offeredOrgans/OfferedOrgansCard.vue";
    import HeaderComponent from "@/components/HeaderComponent.vue";
    import patients from "../assets/patients.json";
    import offers from "../assets/offers.json";

    export default {
        name: 'OfferedOrganView',
        components: {
            SideBar,
            MainModal,
            OfferedOrgansCard,
            HeaderComponent
        }, 
        data() {
            return {
                offers: offers,
                patients: patients,
            };
        },
        methods: {
            goToOfferScreen (value) {
                this.$router.push(`/offer/${value.offerNo}`);
            },
        }
    };
</script>

<style scoped>
.general-container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    display: flex;
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    background-color: #f2f2f2;
}

.organ-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
</style>