<template>
    <div>
        <HeaderComponent />
        <div class="general-container">
            <SideBar/>
            <div class="content">
                <MainModal title="Offer B">
                    <DonorInfoTable :datas="tableData"/>
                    <h3>Offer Statistics</h3>
                    <OfferStatistics :data="data" />
                </MainModal>
            </div>  
        </div>
    </div>
</template>
  
<script>
    import SideBar from "../components/SideBar.vue";
    import MainModal from "@/components/MainModal.vue";
    import OfferStatistics from "@/components/offeredOrgans/OfferStatistics.vue";
    import DonorInfoTable from "@/components/offers/DonorInfoTable.vue";
    import HeaderComponent from "../components/HeaderComponent.vue"
    
    export default {
        name: 'OfferAView',
        components: {
            SideBar,
            MainModal,
            DonorInfoTable,
            OfferStatistics,
            HeaderComponent
        },
        data () {
            return {
                data:{
                    acceptedSurvival: '50 months',
                    acceptedConfidence: '[35, 77] months',
                    declinedSurvival: '4 months',
                    declinedConfidence: '18 months',
                },
                tableData: [
                    {
                        age: 55,
                        gender: 'Female',
                        bloodGroup: 'A+',
                        hlaType1: 1,
                        hlaType2: 1,
                    }
                ]
            }
        }        

    };
</script>

<style scoped>
.general-container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    display: flex;
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    background-color: #f2f2f2;
}
</style>