<template>
    <div>
        <HeaderComponent />
        <div class="general-container">
            <SideBar/>
            <div class="content">
                <MainModal title="Offer">
                    <DonorInfoTable :patientData="getFirstPatient" :offerData="getFirstOffer"/>
                    <h3>Offer Statistics</h3>
                    <OfferStatistics :offerData="getFirstOffer" />
                </MainModal>
            </div>  
        </div>
    </div>
</template>
  
<script>
    import SideBar from "../components/SideBar.vue";
    import MainModal from "@/components/MainModal.vue";
    import OfferStatistics from "@/components/offeredOrgans/OfferStatistics.vue";
    import DonorInfoTable from "@/components/offers/DonorInfoTable.vue";
    import HeaderComponent from "../components/HeaderComponent.vue";
    import offers from "../assets/offers.json";
    import patients from "../assets/patients.json";
    
    export default {
        name: 'OfferAView',
        components: {
            SideBar,
            MainModal,
            DonorInfoTable,
            OfferStatistics,
            HeaderComponent
        },
        data () {
            return {
                patients: patients,
                offers: offers,
                offerId: this.$route.params.id,
                data:{
                    acceptedSurvival: '38 months',
                    acceptedConfidence: '[17, 59] months',
                    declinedSurvival: '38 months',
                    declinedConfidence: '[17, 59] months',
                },
                tableData: [
                    {
                        age: 48,
                        gender: 'Male',
                        bloodGroup: 'A+',
                        hlaType1: 2,
                        hlaType2: 1,
                    }
                ]
            }
        },
        computed: {
            getFirstPatient() {
                const result = this.patients.filter((patient) => {
                return patient.id === 1
                });
                return result[0];
            },
            getFirstOffer() {
                const result = this.offers.filter((offer) => {
                return offer.patient_id === 1
                });
                return result[0].matched_organs[this.offerId-1];
            },
            getMatchedOrgans() {
                const result = this.getFirstOffer.map((offer) => {
                return offer.matched_organs
                });
                return result[0];
            },
        },        
    };
</script>

<style scoped>
.general-container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2c3e50;
    display: flex;
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    background-color: #f2f2f2;
}
</style>