<template>
    <div class="main-container">
      <h3>General Information</h3>
      <table>
        <thead>
          <tr>
            <th>User ID</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Ethnicity</th>
            <th>State</th>
            <th>Blood Group</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="patient in getFirstPatient" :key="patient.id">
            <td>{{ patient.id }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.ethnicity }}</td>
            <td>{{ patient.province }}</td>
            <td>{{ patient.blood_group }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</template>
  
  <script>
  export default {
    name: 'GeneralTable',
    props: {
      patients: {
        type: Array,
        default: () => [],
      },
    },
    computed: {
      getFirstPatient() {
        const result = this.patients.filter((patient) => {
          return patient.id === 1
        });
        return result;
      },
    },
  };
  </script>
  
  <style>
  .main-container {
    margin-bottom: 80px;
  }

  h3 {
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  </style>
  