<template>
    <div>
      <h3>Past Medical History</h3>
      <table>
        <thead>
          <tr>
            <th>Hypertension</th>
            <th>Diabetes</th>
            <th>Cancer</th>
            <th>HIV Status</th>
            <th>HCV Status</th>
            <th>HBV Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="patient in getFirstPatient" :key="patient.id">
            <td>{{ patient.medical_history.hypertension }}</td>
            <td>{{ patient.medical_history.diabetes }}</td>
            <td>{{ patient.medical_history.cancer }}</td>
            <td>{{ patient.medical_history.hiv }}</td>
            <td>{{ patient.medical_history.hcv }}</td>
            <td>{{ patient.medical_history.hbv }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</template>
  
  <script>
  export default {
    name: 'MedicalHistoryTable',
    props: {
      patients: {
        type: Array,
        default: () => [],
      },
    },
    computed: {
      getFirstPatient() {
        const result = this.patients.filter((patient) => {
          return patient.id === 1
        });
        return result;
      },
    },
  };
  </script>
  
  <style>
  h3 {
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  </style>
  