<template>
  <div class="container">
    <div class="checkbox-list">
        <div v-for="metric in metrics" :key="metric.id" class="checkbox-item">
            <input type="checkbox" class="checkbox" v-model="selectedMetrics" :value="metric.id">
            <label>{{ metric.name }}</label>
        </div>
    </div>
    <div class="chart-container">
      <div ref="chartContainer"></div>
    </div>
  </div>
</template>
  
  <script>
  import Highcharts from 'highcharts';
  import patients_statistics from "../assets/patients_statistics.json"
  
  export default {
    name: 'BasicLineChartComponent',
    props: {
        patientId: {
            type: String,
            default: "",
        },
    },
    data() {
      return {
        patients_statistics: patients_statistics,
        selectedMetrics: [],
        metrics: [
            {
                id: 1,
                name: "heart_rate",
            },
            {
                id: 2,
                name: "systolic_bp",
            },
            {
                id: 3,
                name: "diastolic_bp",
            },
            {
                id: 4,
                name: "temperature",
            },
            {
                id: 5,
                name: "respiratory_rate",
            },
            {
                id: 6,
                name: "anion_gap",
            },
        ],
        chartOptions: null,
        chart: null,
      };
    },
    methods: {
        gethealthData() {
            const result = patients_statistics.filter((patient)=> {
                return patient.patient_id === Number(this.patientId);
            });
            return result[0].health_data;
        },
        generateChartOptions() {
            const formattedData = [];
            if(this.selectedMetrics.includes(1)) {
                formattedData.push({ name: "heart_rate", data: this.gethealthData().map(entry => entry.heart_rate) })
            }
            if(this.selectedMetrics.includes(2)) {
                formattedData.push({ name: "systolic_bp", data: this.gethealthData().map(entry => entry.systolic_bp) })
            }
            if(this.selectedMetrics.includes(3)) {
                formattedData.push({ name: "diastolic_bp", data: this.gethealthData().map(entry => entry.diastolic_bp) })
            }
            if(this.selectedMetrics.includes(4)) {
                formattedData.push({ name: "temperature", data: this.gethealthData().map(entry => entry.temperature) })
            }
            if(this.selectedMetrics.includes(5)) {
                formattedData.push({ name: "respiratory_rate", data: this.gethealthData().map(entry => entry.respiratory_rate) })
            }
            if(this.selectedMetrics.includes(6)) {
                formattedData.push({ name: "anion_gap", data: this.gethealthData().map(entry => entry.anion_gap) })
            }
            return {
                title: {
                    text: 'My Line Chart'
                },
                yAxis: {
                    title: {
                        text: 'Normalized Values'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
                series: formattedData
            }
        },
        updateChart() {
            this.chartOptions = this.generateChartOptions();
            if (this.chart) {
                this.chart.update(this.chartOptions);
            }
        },
    },
    watch: {
        selectedMetrics() {
            this.updateChart();
        }, 
    },
    created() {
        this.selectedMetrics = this.metrics.map(m => m.id);
    },
    mounted() {
        this.updateChart();
        this.chart = Highcharts.chart(this.$refs.chartContainer, this.chartOptions);
    },
    beforeDestroy() {
      if (this.chart) {
        this.chart.destroy();
      }
    }
  };
  </script>
  
  <style scoped>
  .container {
    display: flex;
    width: 100%;
  }
  .checkbox-list {
    max-height: 12rem; 
    overflow-y: auto;
    background-color: #f2f2f2;;
    width: 15rem;
}

.checkbox-item {
    display: flex;
    justify-content: left;
    align-items: center;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 5px
}

.chart {
    width: 64rem;
    height: 24rem;
}

.chart-section {
    display: flex;
    gap: 1rem;
}
.chart-container {
    width: 100%;
}
  /* Add any specific styles for the chart container if needed */
  </style>
  