<template>
    <div class="sidebar">
    <ul class="sidebar-menu">
      <li class="sidebar-item">
        <img src="../assets/hosptial.svg" alt="MySideBar">
        <router-link to="/doctorGeneral">Potential Candidates</router-link>
      </li>
    </ul>
    </div>
</template>
<script>
export default {
    name: 'SideBar',
};
</script>
<style scoped>
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: stretch;
}

img {
    width: 20px;
    height: 20px;
}
.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  cursor: pointer;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
}

.sidebar-item:hover {
  background-color: #e9ecef;
}

a {
  text-decoration: none;
}
</style>
