<template>
    <div class="search-container">
      <input type="text" v-model="searchTerm" class="search-input" placeholder="Search...">
      <div class="buttons">
          <button @click="clearSearch" class="clear-button">Clear</button>
          <button @click="performSearch" class="search-button">Search</button>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        searchTerm: ''
      };
    },
    methods: {
      clearSearch() {
        this.searchTerm = '';
      },
      performSearch() {
        // Execute search logic here. For demonstration purposes, we'll simply log the search term.
        console.log("Searching for:", this.searchTerm);
      }
    }
  }
  </script>
  
  <style scoped>
  .search-container {
    width: 100%;
  }
  
  .search-input {
      width: 100%;
      padding: 10px;

      border: 1px solid #f2f2f2;
      border-radius: 10px;
      background-color: #f2f2f2;
  }

  button {
    width: 150px
  }

  .buttons {
    display: flex;
    justify-content: right;
    gap: 1rem;
  }

  .clear-button {
    background-color: white;
    color: black;
    border: 2px solid #f2f2f2;
  }

  .search-button {
    background-color: black;
    color: white;
    border: 2px solid black;
  }
  </style>
  