<template>
    <header class="header">
      <div class="container">
        <div class="left-side">
            <img src="../assets/general.svg" alt="headerGeneral"> 
            <img class="image-block" src="../assets/OrgannectLogo.png" alt="organnectLogo">
        </div>
        <div class="right-side">
          <div class="language-select">
            <img src="../assets/languageIcon.svg" alt="languageIcon" >
          </div>
          <div class="profile-icon">
            <img src="../assets/profileIcon.svg" alt="profile">
          </div>
        </div>
      </div>
    </header>
  </template>
  
  <script>
  export default {
    name: 'HeaderComponent'
  };
  </script>
  
  <style scoped>
  .header {
    color: white;
    padding: 1rem 1rem;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image-block {
    width: 200px;
  }
  
  .right-side {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .left-side {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  img {
    cursor: pointer;
  }
  
  </style>
  