<template>
      <div class="modal-container">
        <div class="modal-header">
          <h2>{{ title }}</h2>
        </div>
        <div class="modal-body">
          <slot></slot>
        </div>
      </div>
  </template>
  
  <script>
  export default {
    name: 'MainModal',
    props: {
      title: {
        type: String,
        required: true,
      },
    },
  };
  </script>
  
  <style scoped>
  
  .modal-container {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    background-color: #f2f2f2;
  }
  
  .modal-body {
    padding: 2rem;
  }
  </style>
  