<template>
      <div class="chart-container">
        <div ref="chartContainer"></div>
      </div>
  </template>
    
    <script>
    import Highcharts from 'highcharts';
    import wls_predictions from "../assets/wls_predictions.json"
    
    export default {
      name: 'SecondTabLineChart',
      props: {
          patientId: {
              type: String,
              default: "",
          },
      },
      data() {
        return {
            wls_predictions: wls_predictions,
          chartOptions: null,
          chart: null,
        };
      },
      methods: {
          getWlsPredictionData() {
              const result = wls_predictions.filter((patient)=> {
                  return patient.patient_id === Number(this.patientId);
              });
              return result[0].wls_prediction;
          },
          generateChartOptions() {
            const predictionData = this.getWlsPredictionData();
            const formattedData = predictionData.map(entry => [entry.hour, entry.probability]);

            return {
                title: {
                    text: 'Death Probability Rate'
                },
                xAxis: {
                    title: {
                        text: 'Hours'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Probability (%)'
                    },
                    min: 0,
                    max: 100, 
                    tickInterval: 10
                },
                series: [{
                    name: 'Probability over Hours',
                    data: formattedData
                }]
            }
          },
          updateChart() {
              this.chartOptions = this.generateChartOptions();
              if (this.chart) {
                  this.chart.update(this.chartOptions);
              }
          },
      },
      mounted() {
          this.updateChart();
          this.chart = Highcharts.chart(this.$refs.chartContainer, this.chartOptions);
      },
      beforeDestroy() {
        if (this.chart) {
          this.chart.destroy();
        }
      }
    };
    </script>
    
    <style scoped>
  .chart-container {
      width: 100%;
  }
    </style>
    