<template>
    <div>
      <div class="tabs">
        <button
          v-for="tab, index in tabs"
          :key="index"
          :class="{ active: currentTab === index }"
          @click="currentTab = index"
        >
        <span> {{ tab.label }}</span>
        </button>
      </div>
      <div class="tab-content">
        <slot :name="`tab-${currentTab}`"></slot>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    props: {
      tabs: {
        type: Array,
        default: () => []
      }
    },
    data() {
      return {
        currentTab: 0
      };
    }
  };
  </script>
  
  <style scoped>
  .tabs {
  display: flex;
  border-bottom: 2px solid #eee;
  margin-bottom: 16px;
  background-color: #f9f9f9;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background: #f9f9f9; 
  color: #333;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e9e9e9;
}

button.active {
  border-bottom-color: blue;
}
  

  </style>
  