<template>
    <div class="main-container">
      <h3>List of Potential Consented Candidates</h3>
      <div class="info-section">
          <img src="../../assets/info_icon.svg" alt="infoIcon" />
          <p>The results are updated based on the latest medical condition of patients. The predictions are updated every 10 minutes.</p>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Patient ID</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Predicted Death(Hours)</th>
              <th>Latest Update Date</th>
              <th>Review</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="patient in patients" :key="patient.id">
              <td>{{ patient.id }}</td>
              <td>{{ patient.age }}</td>
              <td>{{ patient.gender }}</td>
              <td>{{ patient.predicted_death_confidence_rate }}% CI: {{ patient.predicted_death_in_hours }}</td>
              <td>{{ patient.latest_update_date }}</td>
              <td>
                <div @click="routeToHealthDataOverview(patient.id)" class="review-button">
                  <img src="../../assets/review.svg" alt="review"/>
                </div>  
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</template>
  
  <script>
  import patients from "../../assets/patients.json"
  export default {
    name: 'DoctorGeneralContent',
    data() {
      return {
        patients: patients,
        users: [
          {
            id: 586214,
            age: 56,
            gender: 'Female',
            predictedDeath: '95% CI: [83, 121]',
            latestUpdate: '2023-02-20  14:23',
            review: '',
          },
        ],
      };
    },
    methods: {
      routeToHealthDataOverview(value) {
        this.$router.push(`/doctorHealthData/${value}`)
      },
    },
  };
  </script>
  
  <style>
  .main-container {
    margin-bottom: 80px;
  }

  .table-container {
    overflow-y: auto;
    height: 305px;
  }

  h3 {
    text-align: left;
  }
  
  .info-section {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;

  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .review-button {
    cursor: pointer;
  }
  </style>
  