<template>
    <div class="main-container">
      <h3>General Information</h3>
      <table>
        <thead>
          <tr>
            <th>Age</th>
            <th>Gender</th>
            <th>Blood Group</th>
            <th>HLA Type I Mismatch</th>
            <th>HLA Type II Mismatch</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ patientData.age }}</td>
            <td>{{ patientData.gender }}</td>
            <td>{{ patientData.blood_group }}</td>
            <td>{{ offerData.hla_type_I_mismatch }}</td>
            <td>{{ offerData.hla_type_II_mismatch }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
</template>
  
  <script>
  export default {
    name: 'DonorInfoTable',
    props: {
      patientData: {
        type: Object,
        default: () => {},
      },
      offerData: {
          type: Object,
          default: () => {},
      },
    },
  };
  </script>
  
  <style>
  .main-container {
    margin-bottom: 80px;
  }

  h3 {
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  </style>
  