<template>
    <div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Consent Status</th>
              <th>Latest Update Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ patient.id }}</td>
              <td>{{ patient.age }}</td>
              <td>{{ patient.gender }}</td>
              <td>{{ patient.predicted_death_confidence_rate }}% CI: {{ patient.predicted_death_in_hours }}</td>
              <td>{{ patient.latest_update_date }}</td>
            </tr>
          </tbody>
        </table>
        <div class="tab-component">
            <TabComponent :tabs="tabsList">
                <template v-slot:tab-0>
                    <p>ses deneme</p>
                    <BasicLineChartComponent :patientId="patientId"/>
                </template>
                <template v-slot:tab-1>
                    <SecondTabLineChart :patientId="patientId"/>
                </template>
            </TabComponent>
            
        </div>
    </div>
</template>
  
<script>
    import patients_statistics from "../../assets/patients_statistics.json"
    import TabComponent from "../TabComponent.vue"
    import BasicLineChartComponent from "../BasicLineChartComponent.vue";
    import SecondTabLineChart from "../SecondTabLineChart.vue"

    export default {
        components: {
            TabComponent,
            BasicLineChartComponent,
            SecondTabLineChart
        },
        props: {
            patient: {
                type: Object,
                default: () => {},
            },
            patientId: {
                type: String,
                default: "",
            },
        },
        data() {
            return {
                patients_statistics: patients_statistics,
                tabsList: [
                    { label: "Normalized Value of Variables" },
                    { label: "WLS Status Prediction" }
                ],
            };
        },
    }


</script>

<style scoped>
.tab-component {
    margin-top: 20px;
}
</style>
  